<?xml version="1.0"?>
<launch>
	<arg name="port" default="11345" />
	<arg name="robot_namespace" default="ardrone" />

	<include file="$(find mosaic_worlds)/launch/urban_world.launch">
		<env name="GAZEBO_MASTER_URI" value="http://127.0.0.1:$(arg port)"/>
		<env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find mosaic_worlds)/Models/:$(find cvg_sim_gazebo)/models/"/>
	</include>

	<include file="$(find mosaic_worlds)/launch/spawn_quadrotor.launch" >
		<arg name="robot_namespace" value="$(arg robot_namespace)"/>
	</include>
</launch>
